:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(170, 161, 177);

  --h2-color: rgb(161, 142, 176);
  --h3-color: rgb(213, 192, 230);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  background-color: #170e37;
  text-align: center;
}

h2{
  margin: 0px 0px 1rem 0px;
  font-size: large;
  color: var(--h2-color);
}

h3{
  margin: 0px;
  color: var(--h3-color);
  font-size: medium;
}